<!-- Default home page -->


    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Kitchen Master - Interactive Smart Kitchen!</h1>
          <p>Welcome to a Interactive Smart Kitchen. Let's us help you in making your kitchen Smart and Interactive.</p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Inventory Management</h2>
            <p>In this page, you will be able to manage your inventory. </p>
            <p><a class="btn btn-primary btn-lg" href="/inventory/inventory_balance" role="button">Open &raquo;</a></p>
          </div>

          <div class="col-md-4">
            <h2>Recipe Management</h2>
            <p>In this page, you will be able to create new recipes and mange existing ones.</p>
            <p><a class="btn btn-primary btn-lg" href="/recipeMgt/all_menu_items" role="button">Open &raquo;</a></p>
          </div>

          <div class="col-md-4">
            <h2>Menu Management</h2>
            <p>In this page, you will be able to manage your menu items and create the Menu of the day.</p>
            <p><a class="btn btn-primary btn-lg" href="/menuMgt/all_menu_for_days" role="button">Open &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Company 2017</p>
    </footer>
