

    <nav class="col-sm-9 col-md-6 d-none d-sm-block bg-light sidebar">

        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link btn btn-warning" href="/menuMgt/all_menu_for_days" >Click to load all available Menus</a>
          </li>
        </ul>

        <hr/>

    </nav>
